<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AhsapSanatEvi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AhsapSanatEvi.Properties.Settings>
            <setting name="NakitOran" serializeAs="String">
                <value />
            </setting>
            <setting name="CamFiyat" serializeAs="String">
                <value />
            </setting>
            <setting name="PaspartuFiyat" serializeAs="String">
                <value />
            </setting>
            <setting name="KutuFiyat" serializeAs="String">
                <value />
            </setting>
        </AhsapSanatEvi.Properties.Settings>
    </userSettings>
</configuration>